<%= form_with(model: sauna_room) do |form| %>
  <% if sauna_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sauna_room.errors.count, "error") %> prohibited this sauna_room from being saved:</h2>

      <ul>
        <% sauna_room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sauna_temperature %>
    <%= form.number_field :sauna_temperature %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
