<p id="notice"><%= notice %></p>

<h1>Sauna Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name ja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sauna_roles.each do |sauna_role| %>
      <tr>
        <td><%= sauna_role.name_ja %></td>
        <td><%= link_to 'Show', sauna_role %></td>
        <td><%= link_to 'Edit', edit_sauna_role_path(sauna_role) %></td>
        <td><%= link_to 'Destroy', sauna_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauna Role', new_sauna_role_path %>
